[submodule "server/3rd/json4lua"]
	path = server/3rd/json4lua
	url = git@github.com:craigmj/json4lua.git
[submodule "expander16/stm32-public"]
	path = expander16/stm32-public
	url = git@github.com:KrystianD/stm32-public.git
[submodule "expander8/WIZ_Ethernet_Library"]
	path = expander8/WIZ_Ethernet_Library
	url = https://github.com/Wiznet/WIZ_Ethernet_Library
[submodule "3rd/Arduino-IRremote"]
	path = 3rd/Arduino-IRremote
	url = https://github.com/shirriff/Arduino-IRremote.git
[submodule "kdutils"]
	path = kdutils
	url = https://github.com/KrystianD/kdutils
