[submodule "server/3rd/json4lua"]
	path = server/3rd/json4lua
	url = git@github.com:craigmj/json4lua.git
[submodule "3rd/Arduino-IRremote"]
	path = 3rd/Arduino-IRremote
	url = https://github.com/shirriff/Arduino-IRremote.git
[submodule "kdutils"]
	path = kdutils
	url = https://github.com/KrystianD/kdutils
[submodule "expander8/stm32-utils"]
	path = expander8/stm32-utils
	url = git@github.com:KrystianD/stm32-utils.git
[submodule "expander16/stm32-utils"]
	path = expander16/stm32-utils
	url = git@github.com:KrystianD/stm32-utils.git
[submodule "energy_counter_rfm70/stm32-utils"]
	path = energy_counter_rfm70/stm32-utils
	url = git@github.com:KrystianD/stm32-utils.git
